h3.tex-uppercase.fw-bold.mb-4 {
  display: flex;
}

img.foooter-App-logo {
  display: flex;
  position: relative;
  size: inherit;
  width: 20vw;
  height: auto;
}

div.col-md3.col-lg-4.col-xl-3.mx-a {
  max-width: 100%;
}
