* {
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.title {
  font-size: 70px;
  text-decoration: none;
  padding: 30px;
}

.sign-up-shortcut {
  font-size: large;
  float: right;
}

nav {
  font-size: 30px;
  width: 100vw;
  padding: 17px;
  background-color: tan;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10%;
}

a.sign-up-shortcut {
  text-decoration: none;
  color: black;
}

form {
  padding: 150px;
}

#main-container {
  align-items: center;
}

input.position-relative.form-control.form-control-lg {
  background-color: rgb(255, 255, 255);
  z-index: 5;
  font-size: x-large;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
}

div.form-check {
  margin: 25px;
}

button.btn {
  background-color: rgb(204, 171, 95);
  width: 100;
  font-size: x-large;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 24px;
  padding-left: 24px;
  color: black;
}

a#create {
  font-size: 45px;
  position: absolute;
}

Button.create {
  margin-top: 35px;
}

h1.SignIn {
  padding-bottom: 40px;
}

div.col {
  display: flexbox;
  padding: 50px;
  max-width: 600px;
}

img.card-img-top {
  width: 80%;

  padding-left: 20%;
  padding-top: 15px;
  height: 15vw;
  object-fit: fill;
}

div.itemCard.card {
  background-color: rgb(51, 51, 51);
  display: flexbox;
}

h1.or {
  padding-top: 60px;
}

div.foooter {
  background-color: grey;
  display: 100vh 100vw;
}

/* to make buttons look like <a> until propper href values can be set. */
button.text-reset {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* input.position-relative.form-control.form-control-lg:focus {
  outline: blue;
} */

/*////////////////////////////////////////////////
 body {
  display: flex;
  align-items: center;
  background-color: rgb(92, 92, 92);
}

div link.title {
  font-size: 90px;
}

nav {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
} /*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
